#nav-content-container a img{
    opacity: 0.8;
    transition: ease-in 0.3s;
}

#nav-content-container a img:hover{
    opacity: 1;
}

#scroll-btn{
    color: #121212;
    font-family: "Titillium Web";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.hero-image {
    display: flex;
    flex-direction: column;
    height: 60vh;
    background-image: url(imgs/hero-auto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
  }
  
.hero-image::before {
    content: "";  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    z-index: 1;
  }


/* Stile predefinito per la navbar */
.navbar {
    padding-left: 20px; /* Esempio di padding a sinistra */
    padding-right: 20px; /* Esempio di padding a destra */
}

.stato2{
    display: none;
}
/* Media query per schermi con larghezza massima di 430px */
@media (max-width: 430px) {
    .navbar {
        padding-left: 0; /* Rimuovi il padding a sinistra */
        padding-right: 0; /* Rimuovi il padding a destra */
    }
    .stato1{
        display: none;
    }
    .stato2{
        display: inline;
    }
}

.nav{
    float: right;
}

@media (max-widt: 400px){
    .nav{
        float: inline-start;
        padding: -1vw;
    }
}