.game-section{
    margin-top: 30vh;
}
.streetlight-container{
    display: flex;
}
.streetlight{
    display: flex;
    flex-flow: column;
    width: 50px;
    height: 175px;
    background-color: #404040;
    border-radius: 5px;
    margin-right: 1vh;
}

.streetlight ul{
    display: flex;
    flex-flow: column;
    list-style-type: none;
    padding: 0;
}

.streetlight ul li{
    margin-bottom: -100%;
}

.green{
    fill: #2CFB3A;
}

.red{
    fill: #FB2C2C;
}

.gray{
    fill: #1b1b1b;
}

.game-section .row .btn{
    margin-top: 1vh;

}

.timer-hidden{
    width: 50%;
    color: #000;
    font-size: 8vw;
    font-style: italic;
    font-weight: 700;
    line-height: 92.5%;
    text-transform: uppercase;
    align-self: flex-end;
    display: none;
}
.timershowed{
    width: 50%;
    color: #000;
    font-size: 8vw;
    font-style: italic;
    font-weight: 700;
    line-height: 92.5%;
    text-transform: uppercase;
    align-self: flex-end;
}

.game-section .container-fluid .left-side{
    width: fit-content;
    display: inline;
    
}

.game-section .container-fluid .right-side{
    height: fit-content;
    width: 50%;
    margin: 0;
    padding: 0;
    display: inline;
}

.card{
    border: none;
    margin: 0;
}

.user-field-container{
    display: flex;
    flex-flow: column;

    height: fit-content;
    width: fit-content;
    border-radius: 15px;
    padding: 3vh;

    margin-right: 5vw;

    float: right;

}

.user-field-container h3{
    color: var(--M3-sys-light-on-surface, var(--Schemes-On-Surface, #1D1B20));

    font-size: var(--Headline-Small-Size, 24px);
    font-weight: 400;
    line-height: var(--Headline-Small-Line-Height, 32px);
    letter-spacing: var(--Headline-Small-Tracking, 0px);
}

.user-field-container p{
    margin-top: 2vh;
    color: var(--M3-sys-light-on-surface-variant, var(--Schemes-On-Surface-Variant, #49454F));

    font-size: var(--Body-Medium-Size, 14px);
    font-weight: 400;
    line-height: var(--Body-Medium-Line-Height, 20px);
    letter-spacing: var(--Body-Medium-Tracking, 0.25px);
}

.personal-best{
    margin-top: 5vh;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.personal-best li{
    margin-right: 1vw;
}


.user-logo{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: #fb2c2c85;
    color: rgba(251, 44, 44, 0.35);
    text-align: center;

    font-size: var(--Title-Medium-Size, 16px);
    font-weight: 500;
    line-height: var(--Title-Medium-Line-Height, 24px);
    letter-spacing: var(--Title-Medium-Tracking, 0.15px);
}

.best-timer{
    float: right;
}

@media (max-width: 700px){
    .game-section{
        margin-top: 10vh;
    }
    .game-section .container-fluid{
        display: flex;
        flex-flow: column;
        height: fit-content;
    }
    .game-section .container-fluid .left-side{
        display: block;
        width: 100%;
        align-items: center;
    }
    .game-section .container-fluid .right-side{
        display: block;
        width: 100%;
        margin-top: 5vw;
        align-items: center;
    }
    .user-field-container{
        width: fit-content;
    }
    
}